body
	padding: 0
	height: 100

main
	margin: 0 0 0 0
	width: 100%
	padding: 50px
	color: #fff
	background:
		image: url('/favicon.png'), linear-gradient(10deg, #151b23, #0D1117)
		repeat: no-repeat
		size: 100%
		blend-mode: overlay
		position: center
	div.hero
		h1
			font-family: 'DM Sans'
			font-size: 40px
			text-align: center
			margin: 50px
		p
			font:
				family: 'DM Sans'
				size: large
			text-align: center
			a
				background-color: cyan
				padding: 10px 20px
				border-radius: 20px
				margin: 70px 40px
				text-decoration: none
				font-size: x-large
